<section class="content">
<!-- Default box -->
 <div class="card">
    <div class="card-header">
      <h3 class="card-title">Dashboard</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      
         <!-- Small Box (Stat card) -->
        <h5 class="mb-2 mt-4">Bienvenido</h5>
        <div class="row">
            <!------->
            <div class="col-lg-2 col-6">
              <!-- small card -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{totalcar}}</h3>
  
                  <p>CPU</p>
                </div>
                <div class="icon">
                  <i class="fa-solid fa-server"></i>
                </div>
                <a routerLink="/dashboard/cars" class="small-box-footer">
                  Ver mas <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!---->
              <!------->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{totalcar}}</h3>

                <p>MONITORES</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-desktop"></i>
              </div>
              <a routerLink="/dashboard/cars" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!---->
            <!------->
            <div class="col-lg-2 col-6">
              <!-- small card -->
              <div class="small-box" style="background-color: #E44258;">
                <div class="inner">
                  <h3>{{totalcar}}</h3>
  
                  <p style="color: white;">TECLADOS</p>
                </div>
                <div class="icon">
                  <i class="fa-solid fa-keyboard"></i>
                </div>
                <a routerLink="/dashboard/cars" class="small-box-footer">
                  Ver mas <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!---->
          <!------->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box" style="background-color:#587AFB ;">
              <div class="inner">
                <h3>{{totalcar}}</h3>

                <p style="color: white;">LAPTOPS</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-laptop"></i>
              </div>
              <a routerLink="/dashboard/cars" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!---->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{totalcar}}</h3>

                <p>PROYECTORES</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-land-mine-on"></i>
              </div>
              <a routerLink="/dashboard/cars" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box" style="background-color:#A358DF ;">
              <div class="inner">
                <h3>{{total}}</h3>

                <p style="color: white;">IMPRESORAS</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-print"></i>
              </div>
              <a routerLink="/dashboard/persons" class="small-box-footer">
               Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box" style="background-color:#587AFB ;">
              <div class="inner">
                <h3>{{totalregister}}</h3>

                <p style="color: white;">TABLETS</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-tablet-screen-button"></i>
              </div>
              <a routerLink="/dashboard/register" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
           <!-- ./col -->
           <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{totalregister}}</h3>

                <p>TELEVISORES</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-tv"></i>
              </div>
              <a routerLink="/dashboard/register" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
           <!-- ./col -->
           <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{totalregister}}</h3>

                <p>TELEFONOS</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-phone-volume"></i>
              </div>
              <a routerLink="/dashboard/register" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
           <!-- ./col -->
           <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box" style="background-color:#A358DF ;">
              <div class="inner">
                <h3>{{totalregister}}</h3>

                <p style="color: white;">CAMARAS</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-camera"></i>
              </div>
              <a routerLink="/dashboard/register" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
             <!-- ./col -->
             <div class="col-lg-2 col-6">
              <!-- small card -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{totalregister}}</h3>
  
                  <p>ACESS POINT</p>
                </div>
                <div class="icon">
                  <i class="fa-solid fa-wifi"></i>
                </div>
                <a routerLink="/dashboard/register" class="small-box-footer">
                  Ver mas <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
               <!-- ./col -->
           <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box" style="background-color: #E44258;">
              <div class="inner">
                <h3>{{totalregister}}</h3>

                <p style="color: white;">OTROS</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-mattress-pillow"></i>
              </div>
              <a routerLink="/dashboard/register" class="small-box-footer">
                Ver mas <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        
         
        </div>
        <!-- /.row -->
    
    </div>
  
  </div>
  <!-- /.card -->


</section>
